In [10]:
def divNumCheck(num):
    tmp = num
    check = 1
    if num == 1:
        return check
    elif num % 2 == 0:
        for i in range(2, num):
            if i >= tmp:
                break
            else:
                if num % i == 0:
                    check += 1
                    num = num / i
                else:
                    pass
    else:
        for i in range(3, num):
            if i >= tmp:
                break
            else:
                if num % i == 0:
                    check += 1
                    num = num / i
                else:
                    pass
    return check + 1

In [20]:
def solution(number, limit, power):
    def divNumCheck(num, limit, power):
        tmp = num
        check = 1
        if num == 1:
            return check
        elif num % 2 == 0:
            for i in range(2, num):
                if i >= tmp:
                    break
                elif check >= limit:
                    return power
                else:
                    if num % i == 0:
                        check += 1
                        num = num // i
                    else:
                        pass
        else:
            for i in range(3, num):
                if i >= tmp:
                    break
                elif check >= limit:
                    return power
                else:
                    if num % i == 0:
                        check += 1
                        num = num // i
                    else:
                        pass
        return check + 1
    answer = 0
    
    for i in range(1, number+1):
        answer += divNumCheck(i, limit, power)
    return answer

solution(10, 3, 2)

21

In [16]:
solution(10, 3, 2)

27

In [19]:
def solution(number, limit, power):
    def divNumCheck(num, limit, power):
        tmp =num
        div_num = 1
        check = 0
        if num == 1:
            return 1, False
        while num >= div_num:
            if check >= limit:
                break
            if num % div_num == 0:
                check += 1
                num = num // div_num
            div_num += 1
        if check >= limit:
            return power, True
        if tmp == (num ** 2):
            check += 1
        return check + 1, False
    
    answer = 0
    data = []
    
    for i in range(1, number+1):
        t, test = divNumCheck(i, limit, power)
        answer += t
        data.append([answer,t,test])
    return answer, data
import pandas as pd

answer, data = solution(40, 10, 2)
df = pd.DataFrame(data)
df
# print(solution(5, 3, 2))
# print(solution(20, 3, 2))

      0  1      2
0     1  1  False
1     4  3  False
2     7  3  False
3    11  4  False
4    14  3  False
5    18  4  False
6    21  3  False
7    25  4  False
8    29  4  False
9    33  4  False
10   36  3  False
11   40  4  False
12   43  3  False
13   47  4  False
14   51  4  False
15   55  4  False
16   58  3  False
17   62  4  False
18   65  3  False
19   69  4  False
20   73  4  False
21   77  4  False
22   80  3  False
23   85  5  False
24   89  4  False
25   93  4  False
26   97  4  False
27  101  4  False
28  104  3  False
29  109  5  False
30  112  3  False
31  116  4  False
32  120  4  False
33  124  4  False
34  128  4  False
35  133  5  False
36  136  3  False
37  140  4  False
38  144  4  False
39  149  5  False

In [42]:
def solution(number, limit, power):
    def divNumCheck(num, limit, power):
        tmp = num
        div_num = 2
        check = 0
        j = 0
        po_c = False

        if num == 1:
            return 1, False
        while num >= div_num:
            if check * 2 >= limit:
                po_c = True
                break
            if num % div_num == 0:
                check += 1
                num = tmp // div_num
            div_num += 1
        if po_c:
            return power, True
        if tmp == (num ** 2):
            j = 1
        return check * 2 + j, False
    
    answer = 0
    data = []
    
    for i in range(1, number+1):
        t, test = divNumCheck(i, limit, power)
        if t > limit:
            t = power
        answer += t
        data.append([answer,t,test])
    return answer, data
import pandas as pd

answer, data = solution(100000, 50 , 25)
df = pd.DataFrame(data)
df
# print(solution(5, 3, 2))
# print(solution(20, 3, 2))
# print(solution(40, 2 , 1))
# print(solution(5 , 2 , 1))
# print(solution(100000, 2 , 1))
# print(solution(100000, 50, 25))
# print(solution(1, 2, 1))
# print(solution(29, 5, 3))

            0   1      2
0           1   1  False
1           3   2  False
2           5   2  False
3           8   3  False
4          10   2  False
...       ...  ..    ...
99995  806463  10  False
99996  806469   6  False
99997  806473   4  False
99998  806481   8  False
99999  806503  22  False

[100000 rows x 3 columns]

In [ ]:
number, limit, power / answer
40, 2 , 1 / 52
5 , 2 , 1 / 8
100000, 2 , 1 / 109592
100000, 50, 25 / 1115014
1, 2, 1 / 1
29, 5, 3 / 86